<div class="col s8 m4">
  <div class="card small hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="{{images.[0]}}">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">{{name}}<i
          class="material-icons right">more_vert</i></span>
      <p><a href="/recipes/{{_id}}">Recipe Details</a>
        {{#if owner}}
        <a href="/api/v1/recipes/{{_id}}/delete" class='right-align'>
          <i class="material-icons delete-button">remove_circle</i>
        </a>
        {{/if}}
      </p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">{{name}}<i class="material-icons right">close</i></span>
      <ul>
        {{#each ingredientsList}}
        <li>{{this}}</li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
